:root {
  --stopwatch-background: #c2e4ed; /* you can use this variable as var(--stopwatch-background) */
  --stopwatch-panel-bg: #99b3ba; /* you can use this variable as var(--stopwatch-panel-bg) */
  --stopwatch-numbers-bg: #39626e; /* you can use this variable as var(--stopwatch-numbers-bg) */
}

body {
  font-family: "Montserrat", sans-serif;
}
